body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.grand-carré {
  width: 150%;
  height: 150%;
  margin: 10% auto;
  background-color: #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}


.carré {
  width: 45%;
  height: 45%;
  background-color: #F0ECE4;
  color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-align: left;
  margin-top: 0;
  margin-bottom: 10px;
  color: black;
}

.flat-button {
  display: block;
  margin: auto;
  margin-top: auto;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #025F81;
  color: #025F81;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.flat-button:hover {
  background-color: #025F81;
  color: #F0ECE4;
  cursor: pointer;
}