.appview-container.css-1wrcr25.egzxvld6{
    background-color: #F0ECE4;
}
.css-18ni7ap.e8zbici2{
    background-color: #F0ECE4;
}
.appview-container.css-1wrcr25.egzxvld6{
    background-color: #FFFFFF;
}